/**
Structure
 */
.userInfo {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.userInfo--public {
    padding-top: 4.5rem;
}

.userInfo > *:not(h1){
    border-radius: 1.5rem;
    /**
    TODO Vivien: check why the border radius is not same between the 2 first blocks
     */
}

.userInfo h1 {
    margin: 4.375rem 0 1rem 0;
    flex: 1 1 100%;
}


.userInfo > .card--user-big {
    flex: 1 1 40%;
    box-sizing: border-box;
    padding: 1rem 4rem;
}

.userInfo > .userInfo__form-container {
    flex: 1 1 40%;
    box-sizing: border-box;
    padding: 1rem 7.3125rem;
}

.userInfo > .library {
    flex: 0 0 100%;
}

.userInfo--public  > .library {
    flex: 2 0 auto;
}


/**
Formulaire
 */
.userInfo__form-container {
    background-color: var(--bg-color-light);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.form--user-profile {
    flex: 1 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.form--user-profile label {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.card--user-big hr {
    width: auto;
    margin: 0 20%;
    align-self: stretch;
}



.userInfo--public > * {
    flex: 1 1 auto;
}

.userInfo--public > *:first-child {
    flex: 0 1 30%;
}

/**
Bloc - gestion des livres
 */
.userInfo__new-book-container {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.books-admin {
    background-color: var(--bg-color-light);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/**
Table de livres possédés
 */

.library {
    background-color: var(--bg-color-light);
    border-spacing: 0;
    width: 100%;
    flex: 1 1 100%;
}
.library tr:nth-child(even) {
    background-color: var(--bg-color-dark);
}

.library__book-info {
    max-width: 8rem;
    max-height: 4rem;
}

.library__action {
    text-decoration: underline;
}

.library__action--edit {
}

.library__action--delete {
    color: #CB2D2D;
}

.library__book-info--longdesc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.new-book__button {
    text-align: center;
}
