.card {
    display: flex;
    flex-direction: column;
}

.card--row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.card__poster {
    /**
    Tried 20% for flex-basis but turn out image is overflowing
     */
    flex: 0 0 3rem;
    display: flex;
    flex-flow: column nowrap;
}

.card__avatar {
    border-radius: 50%;
    flex : 0 100%;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.card__title {

}



/**
Maxi card user à gauche
 */
.card--user-big {
    box-sizing: border-box;
    height:35rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 2rem 4rem;
    background-color: var(--bg-color-light);
    flex: 1 1 40%;
}

.card--user-big .card__title {
    font-size: 1.5rem;
}

.card--user-big .card__poster {
    align-items: center;
    margin-top: 3rem;
}

.card--user-big .card__content {
    text-align: center;
    padding-bottom: 3.44rem;
}

.card--user-big .line-separator {
    border-top: 1px solid var(--bg-color-medium2);
}

.library-legend-ctn {

}

/**
card user normal
 */
.card--user {

}


