.form {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    text-align: left;
    color: var(--gris-texte);
}

.form--discreet-label {

}

.form__label {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    font-weight: 400;
    color: var(--gris-foncé);
}

.form__field, .field__input {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0.38rem;
    padding: 0.75rem 1rem;
    font-family: var(--font-family), sans-serif;
    font-size: 0.88rem;
    color: var(--gris-foncé);
    width: 100%;
}
.form--coloured .form__field, .form--coloured .field__input {
    background-color: var(--bg-color-dark);
}

.form__field:focus {
    outline: none;
    border-color: var(--vert-principal);
}

.form__field--textarea {
    min-height: 8rem;
    resize: vertical;
    font-family: var(--font-family), sans-serif;
}

.form__field--select {
    cursor: pointer;
}

.form--horizontal {
    display: flex;
    flex-flow: row wrap;
}

.form--horizontal .form__field {
    width: auto;
}

.field--with-icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.field--with-icon .field__icon {
    position: relative;
    left:2rem;
    z-index: 10000;
    height: 1rem;
}


.field--with-icon .field__input {
    padding-left: 3rem;
}

.form--discreet-label .form__label {
    color: var(--gris-texte);
}
