.header__container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    flex-direction: row;
}

.header__menu--logo {
    margin-right: 2.125rem;
}

.header__list {
    display:flex;
    flex-direction: row;
    gap: 2.75rem;
}