.icon {
}

.icon--inline-text {
    vertical-align: bottom;
    padding : 0 0 0.1rem 0;
}

.badge {
    background-color: black;
    color: var(--gris-clair);
    border-radius: 0.422rem;
    padding: 0.1rem 0.2rem;
    font-size: 0.5rem;
    font-weight: 700;
}

.badge--inline-text {
    vertical-align: middle;
}

.icon--books::before {
    content: url('../../img/icons/books.svg');
}

.badge--long-size {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.44rem;

    padding: 0;
    border-radius: 1.88rem;
    padding-block: 0.32rem;
    padding-inline: 0.81rem;
    width: fit-content;
    font-size: 0.56rem;
}

.badge--nok {
    background-color: #C56D6D;
    color : white;
    font-weight: 500;
}

.badge--ok {
    background-color: #6dc5a1;
    color : white;
    font-weight: 500;
}