@import "modules/header.css";
@import "modules/footer.css";
@import "modules/form.css";
@import "modules/card.css";
@import "modules/cardBook.css";
@import "modules/poster.css";

@import "pages/homepage.css";
@import "pages/messagerie.css";
@import "pages/profile.css";
@import "pages/book-copy-detail.css";
@import "pages/book-copy-edit.css";
@import "pages/sign-in-sign-up.css";


/* Design System */
:root {
    --gris-clair: #f5f3ef;
    --vert-principal: #00ac66;
    --gris-texte: #a6a6a6;
    --gris-foncé: #292929;
    --font-family: "Inter", sans-serif;
    --second-family: "Playfair Display", sans-serif;
    --font-size: 0.88rem;

    --bg-color-light: #fff;
    --bg-color-medium: #faf9f7;
    --bg-color-medium2: var(--gris-clair);
    --bg-color-dark: #edf2f6;

    --main-padding-sides: 9.375rem;
}

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color-medium2);
    font-family: var(--font-family), sans-serif;
    font-weight: 300;
    font-size: var(--font-size);
    color: var(--gris-foncé);
    /*
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--black);
     */
}

.main-container {
    box-sizing: border-box;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.main-container > header, .container__header {
    padding: 0 var(--main-padding-sides);
    flex: 0 0 auto;
}

.main-container > main, .container__main {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.main-container > footer, .container__footer {
    flex: 0 0 auto;
}

.container__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--second-family), sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
    color: #000;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.img-cover {
    object-fit: cover;
}

.bigButton, .bigButton--dark, .bigButton--light {
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--vert-principal);
    border-radius: 0.62rem;
    padding: 1.25rem 2.38rem;
    color: #fff;
    text-decoration: none;
    font-weight:600;
    font-size: 1rem;
}

.bigButton--dark {
    background-color: #006D41;
}

.bigButton--light {
    background-color: var(--bg-color-medium2);
    color: var(--vert-principal);
    border: 1px solid var(--vert-principal);
}

.formField, .formField--darker {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0.38rem;
    width: 20.12rem;
    height: 3.12rem;
}

.formField--darker {
    background-color: var(--bg-color-dark);
}